.caraou-cont{
    overflow: hidden;
    background: linear-gradient(180deg, #0d0620, #0d0620);
}

.sliders-div{
    padding: 0 20px;
}
.sliders-div img{
    width: 100%;
    display: block;
    border-radius: 10px;
}
.slider-div{
    overflow: hidden;    
}
.slick-track > div{
}

.slick-slide{
    padding: 0 .1%;
    opacity: 1 !important;
}

.slick-list{
}