.nav-links {
    background-color: var(--bg-color);
    padding: 0 2%;
    display: flex;
    height: 60px;
    position: relative;
}

.nav-links .nav-logo-div {
    padding: 0 5px;
    display: flex;
    place-items: center;
    justify-content: center;
    gap: 15px;
}

.nav-links .nav-logo-div .sidebar-menu div {
    min-width: 100%;
    height: 2px;
    background-color: white;
    color: white;
    position: relative;
}

.nav-links .nav-logo-div .sidebar-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    display: none;
    min-width: 30px;
    height: 30px;
    padding: 2px 5px;
    position: relative;
    z-index: 11;
    cursor: pointer;
}

/* ******************************************* */
.nav-links .nav-logo-div .side-open div:nth-child(1){
    display: none;
}
.nav-links .nav-logo-div .side-open div:nth-child(3){
    display: none;
}
.nav-links .nav-logo-div .side-open div:nth-child(2){
    display: none;
}
.nav-links .nav-logo-div .side-open::before,
.nav-links .nav-logo-div .side-open::after{
    content: '';
    width: 70%;
    position: absolute;
    height: 2px;
    background: white;
    transform: rotate(45deg);
}
.nav-links .nav-logo-div .side-open::after{
    transform: rotate(-45deg);

}
.nav-links .nav-logo-div>span {
    width: 1.5px;
    border-radius: 1px;
    height: 30px;
    background: linear-gradient(var(--pri), var(--tri));
}

.nav-links .nav-logo-div > a div {
    background-image: url(../../images/Voot-Logo.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 100%;
    height: 100%;
}
.nav-links .nav-logo-div > a {
    max-width: 60px;
    min-width: 60px;
    height: 30px;
;    cursor: pointer;
}

.nav-links .nav-logo-div button {
    padding: 5px 10px;
    background-color: var(--tri);
    outline: none;
    border: none;
    border-radius: 2px;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-size: 13px;
    width: 70px;
    height: 26px;
}

.nav-links .page-links {
    min-width: 72%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* flex-wrap: wrap; */
    margin-left: auto;
    gap: 27px;
    padding: 0 20px;
}

.nav-links .page-links>div {
    height: 100%;
    display: grid;
    place-items: center;
    position: relative;
}

.nav-links .page-links a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    padding: 10px 2px;
    letter-spacing: 1px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.nav-links .page-links .act {
    color: white;
    text-shadow: 0px 0px 1px white;
}

.nav-links .page-links a:hover {
    color: white;
    text-shadow: 0px 0px 1px white;
}

.nav-links .page-links div:has(.act)::after {
    content: '';
    position: absolute;
    top: 0;
    width: 110%;
    height: 2px;
    background-color: var(--pri);
    animation: activelink 0.5s 1 ease-in-out;
}

.nav-links .profile-div {
    display: flex;
    place-items: center;
    margin-left: 15px;
    max-width: 33px;
    position: relative;
}

.nav-links .profile-div>div {
    border-radius: 30px;
    padding: 7px;
    display: flex;
    place-items: center;
    border: 1.5px solid var(--pri);
    cursor: pointer;
}

.nav-links .profile-div>div svg {
    color: white;
    font-size: 1rem;
}

.nav-links .search-div {
    display: grid;
    place-items: center;
}

.nav-links .search-div img {
    cursor: pointer;
}

.sidebar-cont{
    /* padding: 10px; */
    position: absolute;
    color: white;
    left: 0px;
    z-index: 5;
}

@media (min-width: 1000px) {
    .nav-links {
        padding: 0 5%;
    }
}

@media (max-width: 930px) {

    .nav-links .profile-div,
    .nav-links .page-links {
        display: none;
    }
    .nav-links .nav-logo-div .sidebar-menu {
        display: flex;
    }

    .nav-links {
        padding: 0 5%;
    }

    .nav-links .nav-logo-div {
        flex-direction: row-reverse;
        justify-content: space-between;
        /* border: 1px solid red; */
        width: 100%;
    }

    .nav-links .nav-logo-div a:first-child {
        margin-right: auto;
        margin-left: auto;
        position: relative;
    }

    .nav-links .nav-logo-div button {
        margin-left: 0;
    }

    .nav-links .nav-logo-div span {
        display: none;
    }

    .nav-links .search-div {
        margin-left: auto;
    }
}

@keyframes activelink {
    0% {
        width: 0;
    }

    100% {
        width: 110%;
    }
}