.sidebar-div {
    --dis: 10px;
    position: relative;
    /* width: calc(100vw - 0px); */
    height: 100%;
}

.sidebar {
    display: grid;
    grid-template-columns: 380px 1fr;
    height: 100%;
}

.sidebar>div:not(.examp) {
    position: relative;
    cursor: pointer;
    /* animation: blur_side 1s 0.3s 1 ease-in-out forwards; */
    background-color: rgba(255, 255, 255, 0.231);

}

.sidebar .examp {
    overflow-y: scroll;
    background: url(../images/sideBackground.png);
    background-color: var(--bg-color);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center 56px;
    width: clamp(50px, 100%, 385px);
}

.sidebar .examp .logo-div {
    position: sticky;
    top: 0px;
    background-color: var(--bg-color);
    height: 55px;
    margin-bottom: 45px;
}

.sidebar .examp .logo-div a {
    position: relative;
    top: 15px;
    display: block;
    width: 58px;
    height: 30px;
    margin: 0px auto;
    background-image: url("https://www.voot.com/images/Voot-Logo.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

}

.sidebar .examp>div:not(.logo-div) {
    padding-top: 20px;
}

/* 580px */
/* width */
.examp::-webkit-scrollbar {
    width: 4px;
}

/* Track */
.examp::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.examp::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.examp::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.examp .page-links-cont,
.examp .help-div,
.examp .login-div {
    margin-left: 20px;
}

.examp a {
    color: #9b8db0;
    font-size: 14px;
}

.examp a:hover {
    color: white;
}

.examp>div {
    border-bottom: 1px solid #9b8db0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 14px;
}

.examp div:first-child,
.examp div:last-child {
    border: none;
}

.sidebar .login-div a,
.sidebar-div .sidebar .examp a {
    padding-left: 20px;
}

.sidebar .act {
    color: white !important;
    position: relative;
}

.sidebar .act:before {
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: var(--pri);
    border-radius: 1px;
    left: 0;

}

@media (max-width: 930px) {
    .sidebar-div{
        width: calc(100vw - 5px) ;
    }
}
@media (min-width: 930px) {

    .sidebar,
    .sidebar-div,
    .sidebar-div * {
        display: none;
    }
}

@media (max-width: 500px) {
    .sidebar {
        grid-template-columns: 280px 1fr;
    }

    /* .sidebar > div:not(.examp){
        display: none;
    } */
}


@keyframes blur_side {
    0%{
    }
    100%{
        background-color: rgba(255, 255, 255, 0.231);
        /* background-color: rgba(255, 255, 255, 0); */
    }
}