.smallslider-cont {
    margin-block: 20px;
    padding: 10px 10px;
    overflow: hidden;
}
.smallslider-cont .allBtn{
    background-color: var(--pri);
    padding: 4px 6px;
    right: 0;
    border-radius: 2px;
    position: absolute;
    /* position: relative; */
    top: -25%;
    font-size: 15px;
}
.sslider-top{
    margin:  10px 10px 15px;
    position: relative;
}
.sslider-top:has(.allBtn){
    height: 22px;
}
.sslider-top .sslidetitle{
    font-size: var(--headFont);
}
.smallslider-cont .smallcard {
    height: 100%;
}

.smallslider-cont .slick-slider {
    position: relative;
    height: 100%;
}

.smallslider-cont .smallcard div {
    margin: 0 3px;
    border-radius: 8px;
    overflow: hidden;
}
.smallslider-cont .smallcard div:hover img{
    transform: scale(1.1);
}

.smallslider-cont .smallcard div img {
    height: 100%;
    width: 100%;
    transition: 1s;
}

.smallslider-cont .slick-slider .slick-prev.slick-disabled {
    left: -100px;
}
.smallslider-cont .slick-slider .slick-next.slick-disabled {
    right: -100px;
}
.smallslider-cont .slick-slider .slick-arrow {
    height: 100%;
    width: 6%;
    --posit: 20px;
    padding: 0 4px;
}

.smallslider-cont .slick-slider .slick-prev {
    left: -10px;
    background:linear-gradient(90deg, rgb(0, 0, 0), rgba(0, 0, 0, 0.411), transparent);
    z-index: 1;
}
.smallslider-cont .slick-slider .slick-next {
    right: -10px;
    background:linear-gradient(-90deg, rgb(0, 0, 0), transparent);
    z-index: 1;
}
.smallslider-cont .slick-slider .slick-prev::before {
    content: '‹';
    font-size: 3rem;
}
.smallslider-cont .slick-slider .slick-next::before {
    content: '›';
    font-size: 3rem;
}
