/* Roboto, Rubik */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Rubik:wght@300;400&display=swap');

:root {
    --pri: #7f0dff;
    --bg-color: #0d0620;
    --sec: #2a2440;
    --tri: #29d4b6;
    --headFont: 20px;
    --paraFont: 18px;
    --padd: 20px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: "Roboto", "Helvetica", "Arial", sans-serif; */
    font-family: 'Rubik', sans-serif;
    color: white;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

img {
    display: block;
}

body {
    min-width: 250px;
    background-color: var(--bg-color);
    overflow-x: hidden;
}

nav {
    position: fixed;
}

::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    /* background: #f1f1f1; */
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media screen and (width < 600px) {
    :root {
        --headFont: 14px;
        --paraFont: 12px;
        --padd: 5px;
    }
}